.SearchTags
    margin-left: -64px !important;
.SearchTags__input-label
    margin-bottom: 12px
.SearchTags__input
    border: 1px solid rgba(0, 0, 0, 0.24) !important  
    padding: 8px 5px !important 
    border-radius: 4px !important
    top: -8% !important
    width: 94% !important
    .WAMuiChipInput-inputRoot-6
        width: 12px !important
.SearchTags__input--disable
    .WAMuiChipInput-inputRoot-6
        display: none !important
